body{
    background: rgb(238, 226, 226);
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.contenedor{
    position: absolute;
    
    background: rgb(165, 193, 245);
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;/*sombra*/

    margin-top: 80px;
}

.contenedor input{
    width: 100%;
    padding: 8px 0px 5px;/*pading de 8px-arriba 0px-costados 5px-abajo*/
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;

    font-family: 'Open sans';
    
	color: #3b3838;
	font-size: 14px;
	font-weight: 400;
}

button{
    border-radius: 5px;
    cursor: pointer;
}