.contenedor {
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    /*sombra*/
    margin-top: 80px;
    margin-left: 600px;
}